/* 
    Document   : ftree
    Created on : 28/01/2012, 1:43:40 PM
    Author     : Gerry
    Description: Layout for pedigree chart
*/


.line {width: 16px; height: 72px; padding: 0px; border-top: 2px solid #867f66; position: absolute;}
.connector {width: 25px; padding: 0px; border-left: 2px solid #867f66; border-top: 2px solid #867f66; border-bottom: 2px solid #867f66; position: absolute; z-index: 1;}
.pedbox {width: 146px; height: 72px; padding: 0px 3px; border: 2px solid #867f66; overflow: hidden; position: absolute; z-index: 3;}
#pedigree {position: relative; height: 700px;}
#pedbox0 {left: 0px;}
#pedbox1,#pedbox2 {left: 195px}
#pedbox3,#pedbox4,#pedbox5,#pedbox6 {left: 390px}
#pedbox7,#pedbox8,#pedbox9,#pedbox10,#pedbox11,#pedbox12,#pedbox13,#pedbox14 {left: 585px}
#pedbox0 {top: 295px;}
#pedbox1 {top: 125px;}
#pedbox2 {top: 465px;}
#pedbox3 {top: 40px;}
#pedbox4 {top: 210px;}
#pedbox5 {top: 380px;}
#pedbox6 {top: 550px;}
#pedbox7 {top: 0px;}
#pedbox8 {top: 80px;}
#pedbox9 {top: 170px;}
#pedbox10 {top: 250px;}
#pedbox11 {top: 340px;}
#pedbox12 {top: 420px;}
#pedbox13 {top: 510px;}
#pedbox14 {top: 590px;}
#line0 {left: 154px; top: 330px;}
#line1 {left: 349px; top: 160px;}
#line2 {left: 349px; top: 500px;}
#line3,#line4,#line5,#line6 {left: 544px;}
#line3 {top: 75px;}
#line4 {top: 245px;}
#line5 {top: 415px;}
#line6 {top: 585px;}
#connector1 {left: 170px; height: 340px;}
#connector2,#connector3 {left: 365px; height: 170px;}
#connector4,#connector5,#connector6,#connector7 {left: 560px; height: 80px;}
#connector1 {top: 160px;}
#connector2 {top: 75px;}
#connector3 {top: 415px;}
#connector4 {top: 35px;}
#connector5 {top: 205px;}
#connector6 {top: 375px;}
#connector7 {top: 545px;}

